.car-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
  text-align: left;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.car-image-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}

.car-image {
  width: 30%;
  height: auto;
  border-bottom: 1px solid #ccc;
  margin: 0 auto;
}

.car-info {
  text-align: center;
}

.car-name {
  font-size: 1.4em;
  color: orange;
}

.car-price {
  font-size: 1.4em;
  color: blue;
}

.car-availability {
  font-size: 0.9em;
  color: gray;
}
